Flask
python-dotenv
google-cloud-speech
opencv-contrib-python==4.8.0.74
tqdm==4.65.0
matplotlib==3.9.0
numpy==1.26.4
torch==2.2.0
click==8.1.6
requests==2.31.0
mediapipe==0.10.13
deep_translator==1.11.4
sign-language-translator
boto3
opencv-python
pandas